# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
*.xcscmblueprint
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.DS_Store

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
Pods/

# Carthage
Carthage/

# Fabric
Fabric.framework/


*.generated.swift

Vendor

OpenStack Summit/OpenStackSummit.app.dSYM.zip

DeployBeta.sh


OpenStack Summit/CoreSummit/Staging.swift
OpenStack Summit/CoreSummit/Production.swift
OpenStack Summit/OpenStack Summit/AppConsumerKey.swift
OpenStack Summit/Release.entitlements
OpenStack Summit/Debug.entitlements
OpenStack Summit/Beta.entitlements
OpenStack Summit/FabricInfoPlist.swift
