github "PureSwift/SwiftFoundation" "Swift.2.2"
github "OpenStack-Mobile/aerogear-ios-http" "master"
github "OpenStack-Mobile/aerogear-ios-oauth2" "openstack"
github "icanzilb/SwiftSpinner" "master"
github "xmartlabs/XLPagerTabStrip" ~> 5.0
github "ColemanCDA/SWRevealViewController" "master"
github "mac-cain13/R.swift.Library"
github "OpenStack-Mobile/HanekeSwift" "master"
github "ColemanCDA/KTCenterFlowLayout" "master"
github "ColemanCDA/AFHorizontalDayPicker" "master"
github "marketplacer/Cosmos" "1.2.3"
github "ColemanCDA/AHKActionSheet" "master"
github "ColemanCDA/MLPAutoCompleteTextField" "master"
github "ColemanCDA/AMTagListView" "master"
github "ColemanCDA/ImageSlideshow" "master"
github "ParsePlatform/Parse-SDK-iOS-OSX"
github "0xced/XCDYouTubeKit"
github "mysterioustrousers/MTDates"
