github "OpenStack-Mobile/SwiftFoundation" "Swift.2.2"
github "OpenStack-Mobile/realm-cocoa" "master"
github "OpenStack-Mobile/aerogear-ios-http" "master"
github "OpenStack-Mobile/aerogear-ios-oauth2" "openstack"
github "OpenStack-Mobile/SwiftSpinner" "OpenStack"
github "OpenStack-Mobile/XLPagerTabStrip" "master"
github "OpenStack-Mobile/SWRevealViewController" "master"
github "OpenStack-Mobile/R.swift.Library" "OpenStack"
github "OpenStack-Mobile/HanekeSwift" "master"
github "OpenStack-Mobile/KTCenterFlowLayout" "master"
github "OpenStack-Mobile/AFHorizontalDayPicker" "master"
github "OpenStack-Mobile/Cosmos" "swift-2.3"
github "OpenStack-Mobile/AHKActionSheet" "master"
github "OpenStack-Mobile/MLPAutoCompleteTextField" "master"
github "OpenStack-Mobile/AMTagListView" "master"
github "OpenStack-Mobile/ImageSlideshow" "master"
github "OpenStack-Mobile/Parse-SDK-iOS-OSX"
github "OpenStack-Mobile/XCDYouTubeKit"
github "OpenStack-Mobile/MTDates"
