github "PureSwift/JSON" "master"
github "PureSwift/Predicate" "master"
github "OpenStack-Mobile/aerogear-ios-http" "master"
github "OpenStack-Mobile/aerogear-ios-oauth2" "openstack"
github "JonasGessner/JGProgressHUD"
github "OpenStack-Mobile/XCDYouTubeKit"
github "OpenStack-Mobile/MTDates" "master"
github "OpenStack-mobile/SlackTextViewController"
