<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>OpenStack</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>org.openstack.ios.openstack-summit</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>org.openstack.ios.openstack-summit</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.8.3</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>aa21b5677127f3ec5529afb84617d6230eb863ab</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>TyphoonInitialAssemblies</key>
	<array>
		<string>ApplicationAssembly</string>
		<string>EventsAssembly</string>
		<string>VenuesAssembly</string>
		<string>GeneralScheduleAssembly</string>
		<string>EventDetailAssembly</string>
		<string>MenuAssembly</string>
		<string>DataStoreAssembly</string>
		<string>FeedbackGivenListAssembly</string>
		<string>FeedbackEditAssembly</string>
		<string>SecurityManagerAssembly</string>
		<string>HttpFactoryAssembly</string>
		<string>DataUpdateAssembly</string>
		<string>PeopleAssembly</string>
		<string>TrackListAssembly</string>
		<string>DTOAssemblersAssembly</string>
		<string>TrackScheduleAssembly</string>
		<string>PersonalScheduleAssembly</string>
		<string>VenuesMapsAssembly</string>
		<string>VenueListAssembly</string>
		<string>VenueDetailAssembly</string>
		<string>VenueRoomDetailAssembly</string>
		<string>MemberProfileAssembly</string>
		<string>SearchAssembly</string>
		<string>GeneralScheduleFilterAssembly</string>
		<string>LevelListAssembly</string>
		<string>LevelScheduleAssembly</string>
		<string>MemberProfileDetailAssembly</string>
		<string>SpeakerPresentationsAssembly</string>
		<string>MyProfileAssembly</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
